body {
  padding-top: 50px;
}
.starter-template {
/*  padding: 40px 15px;
*/  text-align: center;
}
#headertop{
	background:#232b2d;
	padding:8px 0;
	font-size:11px;
	text-transform: uppercase;
	color: rgba(187, 31, 31, 0.6);
}

#headertop.fixed{
	position: fixed;
	width:100%;
	top:0;
	left:0;
	/*z-index:9999;
	-webkit-transition: all 0.5s;
	-webkit-transform: translateZ(0); 
	transition: all 0.5s;*/
}
#headertop.fixed{  
 -webkit-transform: translateZ(0); 
}
 
#headertop li{
	float:left;
	margin-left:10px;
	padding-left:10px;
	border-left:1px solid #576972;
}
/*#headertop li:first-child{
	border:none;
}*/
/*#headertop a{
	color:rgba(255,255,255,0.6);
}*/
#headertop #username a{
	word-break: break-all;
}
#headertop .topmenu{
	float:right;
}

#headertop.fixed + header{
	margin-top:36px;
}

/*--------------------------------------------------------------
1 - LOGIN WIDGET
--------------------------------------------------------------*/
/*#bpavatar{
	float:left;
	max-width:100px;
}
#bpavatar img{
	width:64px;
	height:auto;
	margin:20px 10px 20px 20px;
	border-radius:50%;
}*/
#vibe_bp_login{
	display: none;
}
#vbp-login-form{
	padding:20px;
}
#headertop #vibe_bp_login li,

#vibe_bp_login li{
	margin: 0;
	padding: 0;
	border:none;
	font-size:12px;
	width:100%;
}
#vibe_bp_login li span{
	background: #fa7252;
	padding: 1px 6px;
	font-size: 12px;
	font-weight: 800;
	border-radius: 20px;
	margin-left: 10px;
}
#vibe_bp_login ul{
	width: 146px;
	float: right;
	padding: 20px 20px 20px 10px;
}
#vibe_bp_login ul+ul{
	width:100%;
	padding: 0px 20px;
	background:#313B3D;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
#vibe_bp_login ul+ul li a{
	padding: 6px 0;
	display: inline-block;
	width: 100%;
	font-weight:600;
	border-bottom: 1px dotted rgba(255,255,255,0.2);
}
#vibe_bp_login ul:last-child{
	padding-bottom:20px;
}
#vibe_bp_login li#username{
	font-size: 14px;
	line-height: 1.2;
	margin-bottom:3px;
	text-transform: none;
}
#vibe_bp_login li#username+li>a{text-transform: none;}
#vibe_bp_login ul+ul li:last-child{
	border:none;
}

#vibe_bp_login ul+ul li i{
	float:right;
}
#vibe_bp_login li#vbplogout a{font-size:11px;color:#FFF;}
#vibe_bp_login li{
  position: relative;
}

#vibe_bp_login a:hover{
	color:#FFF;
}

/*.group-sub{
	background:none !important;
	padding: none !important;
	color:#78c8c9 !important;
	float: right;
	clear: both;
}
.group-subscription-div,
.group-subscription-status-desc,
.group-subscription-status,
.group-subscription-options-link{font-size:11px;}
.group-subscription-close{
	clear: both;
	display: inline-block;
	float: right;
}
.group-button.leave-group{
	float:left;
}*/
